#header {
	background: red;
}

#title {
	font-family: 'Sansita', sans-serif;
	text-align: center;
	color: white;
}

.pres {
	height: 200px;
	width: 200px;
}

.desc {
	height: 50px;
	width: 200px;
}


